{% extends 'base.html' %}

{% block title %}
<title>{{ arti.title }}</title>
{% endblock %}

{% block content %}
  <h4><a href="{{ arti.blog.get_url }}">{{ arti.blog.title }}</a></h4>
  <h2>{{ arti.title }}</h2>
  <h6 style="color: rgb(199, 199, 199)">發表於: {{ arti.creation_time }}</h6>
  {% if user == arti.blog.user%}
    <p><a href="{{ arti.modify_url }}">編輯</a>   <a href="{{ arti.del_url }}">刪除</a></p>
  {% endif %}
  <hr>
  <div class="blog-content">
    {{ arti.content|safe }}
    <hr>
    <h4>回覆：</h4>
    <br>
    {% if arti.comment_set.count > 0 %}
      {% for comt in arti.comment_set.all %}
        <p>
          {% if comt.user %}
            <a href="{% url 'user' id=comt.user.pk %}">{{comt.sign}}:</a>
          {% else %}
            {{comt.sign}}:
          {% endif %}
          <span style="color: rgb(199, 199, 199);">發表於: {{comt.time}}</span>
          {{ comt.content|linebreaks }}
        </p>
        
        <hr>
      {% endfor %}
    {% else %}
      <p>目前沒有任何回覆. 發表第一則回覆?</p>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      {% if user.is_authenticated %}
      <p>以 {{ user.profile.pen_name}} 留言(<a href="{% url 'logout' %}?next={{request.path}}">登出</a>)</p>
      {% else %}
      <p>以訪客身分留言 或是 <a href="{% url 'login' %}?next={{request.path}}">登入</a></p>
      <p>{{ form.sign }}</p>
      {% endif%}
      <p>
      {{ form.content }}
      </p>
      {% for error in form.content.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
      <button type="submit">回覆</button>
    </form>
  </div>
  <div class="sidebar-left">
      <div class="author">
        <h4>About Me:</h4>
        <div class="imgbox" style="width:100px;height:100px;">
            <a href="{% url 'user' id=arti.blog.user.pk %}"><img src="{{ arti.blog.user.profile.photo.url }}" ></a>
        </div>
        <p><a href="{% url 'user' id=arti.blog.user.pk %}">{{ arti.blog.user.profile.pen_name }}</a></p>
      </div>
      <div class="category">
          <h4>Categories:</h4>
          <ul class="sidebar-nav">
              {% for c1, c2 in cat %} 
              <li><a href="{% url 'blog_category_query' blog=arti.blog.name_field cat=c1 %}">{{ c1 }} ({{ c2 }})</a></li>
              {% endfor %}
              <li><a href="{% url 'blog_category_query' blog=arti.blog.name_field cat='unclassified' %}">unclassified({{ num_unclass }})</a></li>
          </ul>
          {% if user == arti.blog.user %}
            <a href="{% url 'editcategory' blog=arti.blog.name_field%}">edit category</a>
          {% endif %}
      </div>
    </div>
{% endblock %}