{% extends 'base.html' %}

{% block title %}
<title>{{ blog.title }}</title>
{% endblock %}

{% block content %}
  <div class="title">
    <h1><a href="{{ blog.get_url }}">{{ blog.title }}</a></h1>
    <p style='color: gray'>{{ blog.description }}</p>
    {% if user == blog.user %}
      <p><a href="{% url 'createarticle' blog=blog.name_field %}">+ 發表新文章</a>&nbsp;&nbsp;<a href="{% url 'blog_manage' blog=blog.name_field %}">管理</a></p>
    {% endif %}
    <hr>
  </div>
  <div class="blog-content">
    {% for arti in article %}
    <h2><a href="{{ arti.get_url }}">{{ arti.title }}</a></h2>
    <h6 style="color: rgb(199, 199, 199)">發表於: {{ arti.creation_time }}</h6>
    {{ arti.content|safe|truncatechars_html:300 }}
    (<a href="{{ arti.get_url }}">閱讀全文</a>)
    <hr>
    {% endfor %}
    {% if user == blog.user %}
    <p><a href="{%url 'createarticle' blog=blog.name_field %}">+ 發表新文章</a></p>
    {% endif %}
  </div>
  <div class="sidebar-left">
    {% include 'blog_right_sidebar.html' %}
  </div>
{% endblock %}