{% extends 'base.html' %}

{% block title %}
<title>{{ blog.title }}</title>
{% endblock %}

{% block content %}
  <div class="title">
    <h1><a href="{{ blog.get_url }}">{{ blog.title }}</a></h1>
    <p style='color: gray'>{{ blog.description }}</p>
    <p><a id="delete_blog" href="#delete_blog">刪除</a></p>
    <hr>
  </div>
  <div class="c">
    <h3><a href="#c1">+ 分類</a></h3>
    <div class="collapse_body" name="c1">
      <p>123</p>
    </div>
  </div>
  <div class="c" id="articles">
    <h3><a href="#c2">+ 文章</a></h3>
    <div class="collapse_body" name="c2">
      <p><a class="del" href="#c2">刪除所選</a></p>
      <ul>
        {%for arti in arti_set %}
          <li>
            <div class="item" name="{{ arti.pk }}">
              <input class="select" type="checkbox"><a href="{{ arti.get_url }}" target="blank">{{ arti.title }}</a>
              <br><a href="{{ arti.modify_url }}">編輯</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>

  var a = $('#delete_blog')[0];
    a.addEventListener("click", del_art);
    function del_art(){
      var msg = "刪除後不可回復，確定要刪除?";
      if(confirm(msg) == true){
        this.href = "{% url 'delete_blog' blog=blog.name_field %}"
      }
    }

  const col = $("div.c");
  for(var i=0; i< col.length; i++){
    var a = col[i].querySelector('a');
    a.addEventListener("click", colclick)
  }
  function colclick(){
    const par = this.parentElement.parentElement;
    const col_body = par.querySelector("div.collapse_body")
    if(col_body.style.display == "block"){
      col_body.style.display = "none";
      this.textContent = "+" + this.textContent.substr(1, this.textContent.length)
    }
    else{
      col_body.style.display = "block";
      this.textContent = "-" + this.textContent.substr(1, this.textContent.length)
    }
  }

  //Django basic setup for accepting ajax requests.
  // Cookie obtainer Django

  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
  // Setup ajax connections safetly

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });


  const del = document.querySelector("a.del")
  del.addEventListener("click",function(){
    const par = this.parentElement.parentElement
    const items = $("div.item")
    var todel = []
    for(var i=0; i<items.length; i++){
      if(items[i].querySelector("input.select").checked){
        todel.push(items[i].getAttribute("name"))
    }}
    todel = todel.join(',')
    $.ajax({
      url: "{% url 'del_article_ajax' %}",
      data: {
        "todel": todel,
        "blog": "{{ blog.name_field }}",
      },
      dataType: "json",
      type: "POST",
      success: function(data){
        if (data.html){
          $('#articles').html(data.html);
          var a = $('#articles')[0].querySelector('a');
          a.addEventListener("click", colclick);
          a.click()
        }

      }
    });
  });

</script>
{% endblock %}