{% extends 'base.html' %}

{% block title %}
<title>{{ blog.title }}</title>
{% endblock %}

{% block content %}
  <h2>{{ blog.title }}</h2>
  <p style='color: gray'>{{ blog.description }}</p>
  <hr>
  {% for arti in blog.article_set.all %}
  <h5><a href="{{ arti.get_url }}">{{ arti.title }}</a></h5>
  <h6 style="color: rgb(199, 199, 199)">Post at {{ arti.creation_time }}{% if arti.creation_time != arti.last_modify_time %}, last modify: {{ arti.last_modify_time }}{% endif %}</h6>
  {{ arti.content|safe }}
  <hr>
  {% endfor %}
  {% if user == blog.user %}
  <p><a href="{%url 'createarticle' blog=blog.name_field %}">+ new article</a></p>
  {% endif %}
{% endblock %}