{% extends 'base.html' %}

{% block title %}
<title> 編輯個人資料 </title>
{% endblock %}

{% block content %}
  <h2>個人資料</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {% if field == form.photo %}
        <div class="imgbox" style="width:150px;height:150px;">
          <img src="{{ user.profile.photo.url }}">
        </div>
        {% endif %}
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">編輯</button>
  </form>
{% endblock %}