{% extends "base.html" %}

{% block title %}
<title>部落格網站</title>
{% endblock %}

{% block content %}
  <h1>部落格網站</h1>
  <p>你好啊。</p>
  <h2>Hot Blogs</h2>
  <p>Some Blog with most hits:</p>
  <ul>
  </ul>
  <h2>最新發表文章:</h2>
  {% for arti in new_arti %}
    <h4><a href="{{ arti.get_url }}">{{ arti.title }}</a></h4>
    <p><a href="{% url 'user' id=arti.blog.user.pk %}">{{ arti.blog.user.profile.pen_name }}</a> <span style="color: rgb(199, 199, 199)"> {{ arti.creation_time }} </span></p>
  {% endfor %}
{% endblock %}