{% extends "base.html" %}

{% block title %}
<title>Blog Site</title>
{% endblock %}

{% block content %}
  <h1>Some Blog site</h1>
  <p>Welcome, don't know what to say here.</p>
  <h2>Hot Blogs</h2>
  <p>Some Blog with most hits:</p>
  <ul>
  </ul>
  <h2>What's New?</h2>
  {% for arti in new_arti %}
    <h4><a href="{{ arti.get_url }}">{{ arti.title }}</a></h4>
    <p><a href="{% url 'user' id=arti.blog.user.pk %}">{{ arti.blog.user.profile.pen_name }}</a> <span style="color: rgb(199, 199, 199)"> {{ arti.creation_time }} </span></p>
  {% endfor %}
{% endblock %}