{% extends 'base.html' %}

{% block title %}
<title> {{arti.title}} -編輯文章</title>
{% endblock %}

{% block content %}
  <h2>編輯文章</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.media }}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">編輯</button>
  </form>
{% endblock %}