{% extends 'base.html' %}

{% block title %}
<title>{{ that_user.profile.pen_name }}</title>
{% endblock %}

{% block content %}
  <h2>{{ that_user.profile.pen_name }}</h2>
  <div class="imgbox" style="width:150px;height:150px;">
    <img src="{{ that_user.profile.photo.url }}">
  </div>
  {% if user == that_user %}
  <form method="post">
    {% csrf_token %}
    <button type="submit" name="remove">移除</button>
  </form>
  <p><a href="{% url 'edituser' %}">編集個人資料</a></p>
  {% endif %}
  <hr>
  <h4>自我介紹 :</h4>
  <p>{{ that_user.profile.bio }}</p>
  <br>
  <h4>部落格: </h4>
  <br>
  {% if blog.count > 0 %}
    {% for b in blog.all %}
      <h5><a href="{{ b.get_url }}"> {{ b.title }} </a> </h4>
      <p>{{ b.description }}</p>
    {% endfor %}
  {% else %}
      <p>此使用者目前沒有任何部落格.</p>
  {% endif %}
{% endblock %}