@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body{
    font-family: 'cwTeXYen', sans-serif;
    line-height: 2;
    font-size: 18px;
    font-weight: 300;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

textarea {
    resize: none;
}

div.sidebar-left{
    float: right;
    width: 30%;
}

div.blog-content{
    width:70%;
    float:left;
}

.imgbox {
    overflow: hidden;
    position: relative;
}

.imgbox img {
    height:100%;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}

ul.errorlist{
    color:red;
    padding: 0;
    list-style: none;
}