@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body{
    font-family: 'cwTeXYen', sans-serif;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

textarea {
    resize: none;
}

div.sidebar-left{
    float: right;
    width: 30%;
}

div.blog-content{
    width:65%;
    float:left;
    line-height: 1.5;
}

div.last_next_article{
    line-height: 1;
}

div.last_article{
    float: left;
    width: 50%;
}

div.next_article{
    float: right;
    width: 50%;
}

div.comment{
    clear: both;
}

.imgbox {
    overflow: hidden;
    position: relative;
}

.imgbox img {
    height:100%;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}

ul.errorlist{
    color:red;
    padding: 0;
    list-style: none;
}