.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.imgbox {
    overflow: hidden;
    position: relative;
}

.imgbox img {
    height:100%;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}